<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台管理</title>
	<link href="__ROOT__/public/images/logo.ico" rel="shortcut icon" />
</head>
 <frameset rows="80px,*" border="0" >
 	<frame src="{:U('Public/top')}" noresize="noresize" name="top" scrolling="no" />
 	<frameset cols="150px,*" border="0" >
 		<frame src="{:U('Public/sidebar')}" name="sidebar" noresize="noresize" scrolling="no" />
 		<frame src="{:U('Public/main')}" name="main" noresize="noresize" / >
 	</frameset>
 </frameset>
 </html>