@charset=utf-8;
#main{
	width:1000px;
	margin:8px auto;
}
#main h2{
	box-shadow: 2px 2px 2px #ccc;
}
#main dl{
	display: block;
	width:320px;
	margin:20px 0 0;
	margin-right: 20px;
	background: #fff;
	border:0;
	float:left;
	box-shadow: 2px 2px 2px #ccc;
	cursor:pointer;
}
#main dl:hover{
	box-shadow:0px 4px 8px #666;
}
#main dl:nth-child(3n+1){
	margin-right: 0px;

}
#main dl dt img{
	width:320px;
	height:210;
	border:0;
}
#main dl dd{
	height:25px;
	line-height:25px;
	text-indent: 5px;
}
#main dl dd em{
	float:right;
	margin-right: 5px;
}
#footer{
	margin-top:20px;
}
#main dl dd em i{
	width:20px;
	height:20px;
	display: inline-block;
	vertical-align: middle;
	background: url(../images/glyphicons-halflings2.png) no-repeat -240px -118px;
}