<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
	<link rel="stylesheet" href="__PUBLIC__/css/basic.css">
	<link rel="stylesheet" href="__PUBLIC__/css/login.css">
	<link href="__PUBLIC__/images/logo.ico" rel="shortcut icon" />
</head>
<body>
	<div id='login'>
		<div class='top'>
			逆光博客会员登录入口
		</div>
		<div class='middle'>
			<div class='forms'>
				<form action='' method='post'>
					<p><i>&nbsp;</i><input type='text'  placeholder='用户名' name='name' class='text'/></p>
					<p><i>&nbsp;</i><input type='password' placeholder='密码' name='password' class='text'/></p>
					<p><input type='checkbox'  class='ck' value='1' id='remember' name='remember'/><label for='remember'> 记住一个月</label><input type='button' onclick="this.form.submit()" class='btn' name="btn" value='登录' /></p>
				</form>
			</div>
			<div class='tips'>
				<p>忘记密码?</p>
				<p>请发送 E-mail 与管理员取得联系.</p>
				<p>非本站用户，请自觉离开此页，谢谢</p>
			</div>
		</div>
		<div class='bottom'>
			&copy; 2013 - 2015 逆光个人博客 & 保留所有权利
		</div>
	</div>	
</body>
</html>