<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>文章</title>
	<link rel="stylesheet" href="__PUBLIC__/css/basic.css">
	<link rel="stylesheet" href="__PUBLIC__/css/detail.css">
	<link href="__PUBLIC__/images/logo.ico" rel="shortcut icon" />
	<script src='__PUBLIC__/js/jquery.min.js'></script>
	<script src='__PUBLIC__/js/basic.js'></script>
</head>
<body>
	<include file='public:header'/>
    <div id="main">
    	<div class='left'>
    		<div class='blogs'>
				<dl>
					<dt><em class='right jian' >&nbsp;</em><a href='###'>{$data.title}</a></dt>
					<dd class="con"><img src='__UPLOADS__{$data.pic}' />{$data.content|html_entity_decode|strip_tags}<div class='clear'></div></dd>
					<dd>
						<div class='left'>
							<ul>
								<li>
									<i class='time' >&nbsp;</i>
									<a>{$data.time|date="Y-m-d H:i:s",###}</a>
								</li>
								<li>
									<i class='count'>&nbsp;</i>
									<a>{$data.count}</a>
								</li>
							</ul>
						</div>
						<div class='right'>
							<ul>
								<li>
									<i class='comments'>&nbsp;</i>
									<a>{$data.comments}条评论</a>
								</li>
								<li>
									<i class='admin'>&nbsp;</i>
									<a>{$data.author}</a>
								</li>
								<li>
									<i class='cate'>&nbsp;</i>
									<a>{$data.cate}</a>
								</li>
							</ul>
						</div>
						<div class='clear'></div>
					</dd>
				</dl>
			</div>
			<div class='guest'>
				<h2>猜你喜欢</h2>
				<dl>
					<dt><a href=''><img src='__PUBLIC__/images/article/33.jpg'/></a></dt>
					<dd><a href=''>php7最新出炉快来看看吧</a></dd>
				</dl>
				<dl>
					<dt><a href=''><img src='__PUBLIC__/images/article/31.jpg'/></a></dt>
					<dd><a href=''>php7最新出炉快来看看吧</a></dd>
				</dl>
				<dl>
					<dt><a href=''><img src='__PUBLIC__/images/article/34.jpg'/></a></dt>
					<dd><a href=''> php7最新出炉快来看看吧</a></dd>
				</dl>
			</div>
			<div class='comments'>
				<h2>博友热评</h2>
				<dl>
					<dt><img src='__PUBLIC__/images/tourist1.jpg' /><i class='user'>&nbsp;</i>逆光<i class='time'>&nbsp;</i>2014-12-24<strong>Win7</strong></dt>
					<dd>不要纠结，勇往直前，胜利就在眼前</dd>
					<dt class='admin'><img src='__PUBLIC__/images/tourist3.jpg' /><i class='user'>&nbsp;</i>逆光<i class='time'>&nbsp;</i>2014-12-24<strong>Win7</strong></dt>
					<dd>感谢支持！</dd>
				</dl>
				<dl>
					<dt><img src='__PUBLIC__/images/tourist1.jpg' /><i class='user'>&nbsp;</i>逆光<i class='time'>&nbsp;</i>2014-12-24<strong>Win7</strong></dt>
					<dd>不要纠结，勇往直前，胜利就在眼前</dd>
				</dl>
			</div>
			<div class='forms'>
				<h2><a href='javascript:formtoggle();' >我要评论/展开表单</a></h2>
				<form method='post' action=''>
					<dl id='callback'>
						<dd><input type='text' placeholder="用户昵称" class='name' name='uname'/></dd>
						<dd class='area'><textarea></textarea></dd>
						<dd><input type='text' class='code' placeholder='验证码' name='code'/><img src='__PUBLIC__/images/code.png' onclick='this.src=this.src'/>
						<input type='button' class='btn' name="send" value='发布' onclick='this.form.submit()'/></dd>
					</dl>
				</form>
			</div> 
    	</div>
		<div class='right'>
			<div class='box info'>
				<h2>个人信息</h2>
				<img src="__PUBLIC__/images/header.jpg"/>
				<ul>
					<li>博主姓名：<strong>jack</strong></li>
					<li>开通时间：<strong>2012-12-22</strong></li>
					<li>博客类别：<strong>技术交流</strong></li>
					<li>博文总量：<strong>22</strong></li>
				</ul>
				<p>
					博客简介：本博为技术交流博客，所有博文若无特殊说明均为博主原创，转载请注明出处。
				</p>
			</div>
			<div class='box recommend'>
				<h2>博主推荐</h2>
				<ul>
					<li><em>1</em><a href="###">你辽宁都全国垫底了，还有扯淡？</a></li>
					<li><em>2</em><a href="###">“疏忽”、“疏忽”，聂树斌服”了</a></li>
					<li><em>3</em><a href="###">整治老人摔倒讹诈，法律利刃</a></li>
					<li><em>4</em><a href="###">成龙所说的“国”是哪一国？</a></li>
					<li><em>5</em><a href="###">真诚地向民主派进一言周案之后</a></li>
					<li><em>6</em><a href="###">你辽宁都全国垫底了，还有扯淡？</a></li>
					<li><em>7</em><a href="###">“疏忽”、“疏忽”，聂树斌服”了</a></li>
					<li><em>8</em><a href="###">整治老人摔倒讹诈，法律利刃</a></li>
				</ul>
			</div>
			<div class='box later_news'>
				<h2>相关动态</h2>
				<dl>
					<dt class='a1'>8.12</dt>
					<dd><i>&nbsp;</i><i>逆光</i><i>Win7</i></dd>
					<dd><a href="###">很久没有做过什么粗活</a></dd>
				</dl>
				<div class='clear'></div>
				<dl>
					<dt class='a2'>8.12</dt>
					<dd><i>&nbsp;</i><i>逆光</i><i>Win7</i></dd>
					<dd><a href="###">很久没有做过什么粗活</a></dd>
				</dl>
				<div class='clear'></div>
				<dl>
					<dt class='a3'>8.12</dt>
					<dd><i>&nbsp;</i><i>逆光</i><i>Win7</i></dd>
					<dd><a href="###">很久没有做过什么粗活</a></dd>
				</dl>
				<div class='clear'></div>
			</div>
			<div class='box plun'>
				<h2>博友评论</h2>
				<dl>
					<dt><img src='__PUBLIC__/images/tourist2.jpg'/></dt>
					<dd><i>&nbsp;</i><i>逆光</i><i>Win7</i></dd>
					<dd><a href='###'>文章</a><a href='###'>谢谢分享</a></dd>
				</dl>
				<div class='clear'></div>
				<dl>
					<dt><img src='__PUBLIC__/images/tourist1.jpg'/></dt>
					<dd><i>&nbsp;</i><i>逆光</i><i>Win7</i></dd>
					<dd><a href='###'>文章</a><a href='###'>谢谢分享</a></dd>
				</dl>
				<div class='clear'></div>
				<dl>
					<dt><img src='__PUBLIC__/images/tourist3.jpg'/></dt>
					<dd><i>&nbsp;</i><i>逆光</i><i>Win7</i></dd>
					<dd><a href='###'>文章</a><a href='###'>谢谢分享</a></dd>
				</dl>
				<div class='clear'></div>
			</div>
			<div class='box links'>
				<h2><em><a href='###'>申请链接</a></em>友情链接</h2>
				<ul>
					<li><a href='###'>百度</a></li>
					<li><a href='###'>谷歌</a></li>
					<li><a href='###'>好123</a></li>
					<li><a href='###'>雅虎中国</a></li>
					<li><a href='###'>51cto</a></li>
					<li><a href='###'>后盾网</a></li>
					<li><a href='###'>瓢城web俱乐部</a></li>
					<li><a href='###'>php100</a></li>
				</ul>
			</div>
		</div>
    </div>
    <div class='clear'></div>
	<include file='public:footer'/>
	
</body>
</html>