<div id="footer">
		<div class='top'>
			<div class='left'>
				<h2>资源</h2>
				<ul>
					<li><em>112</em><a href=''>php相关</a></li>
					<li><em>112</em><a href=''>mysql相关</a></li>
					<li><em>112</em><a href=''>js相关</a></li>
					<li><em>112</em><a href=''>jquery相关</a></li>
					<li><em>112</em><a href=''>ps相关</a></li>
					<li><em>112</em><a href=''>flash相关</a></li>
				</ul>
			</div>
			<div class='center1'>
				<h2>说说</h2>
				<ul>
					<li><em>112</em><a href=''>php相关</a></li>
					<li><em>112</em><a href=''>php相关</a></li>
					<li><em>112</em><a href=''>php相关</a></li>
					<li><em>112</em><a href=''>php相关</a></li>
					<li><em>112</em><a href=''>php相关</a></li>
					<li><em>112</em><a href=''>php相关</a></li>
				</ul>
			</div>
			<div class='center2'>
				<h2>博文</h2>
				<ul>
					<li><em>112</em><a href=''>php相关</a></li>
					<li><em>112</em><a href=''>php相关</a></li>
					<li><em>112</em><a href=''>php相关</a></li>
					<li><em>112</em><a href=''>php相关</a></li>
					<li><em>112</em><a href=''>php相关</a></li>
					<li><em>112</em><a href=''>php相关</a></li>
				</ul>
			</div>
			<div class='right'>
				<h2>图片</h2>
				<ul>
					<li><em>112</em><a href=''>php相关</a></li>
					<li><em>112</em><a href=''>php相关</a></li>
					<li><em>112</em><a href=''>php相关</a></li>
					<li><em>112</em><a href=''>php相关</a></li>
					<li><em>112</em><a href=''>php相关</a></li>
					<li><em>112</em><a href=''>php相关</a></li>
				</ul>
			</div>
		</div>
		<div class='bottom'>
			<div class='left'>&copy; 2013 - 2015 逆光个人博客 & 保留所有权利 </div>
			<div class='right'>
				<a target='_blank' href="{:U('Home/Music/index')}">音乐电台</a>
				<a href=''>流量统计</a>
				<a target='_blank' href="{:U('Admin/admin/login')}">后台登陆</a>
			</div>
		</div>
	</div>
