@CHARSET "UTF-8";
*{
	padding:0px;
	margin:0px;
	
}
body{
	margin:0px auto;
	padding-top:150px;
	font-size:12px;
	color:#666;
	
}
div#login{
	width:250px;
	height:160px;
	padding:20px 50px 60px;
	border:1px solid #000;
	margin:0 auto;
	background:#eff;
	border-radius:5px;
	-o-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	
}
div#login label{
	height:30px;
	line-height:30px;
	display:block;
}
div#login label input.text{
	border:1px solid #ccc;
	background:none;
	width:190px;
	height:20px;
	line-height:20px;
	padding:0 4px;
	font-size:12px;
	
}
div#login label input.code{
	letter-spacing:10px;
	width:70px;
	padding:0px 5px;
	text-align:left;
}
div#login p{
height:25px;
line-height:25px;	
margin:5px 0;
}
div#login p.title{
	font-family:"宋体";
	font-size:16px;
	font-weight:bold;
	letter-spacing:1px;	
	padding:0px 0px 10px;;
}
div#login p img{
	display:block;
	width:80px;
	height:25px;
	border:1px solid #ccc;
	margin-left:48px;
	cursor:pointer;
}
div#login p input{
	margin-top:10px;
	float:left;
	width:60px;
	height:22px;
	line-height:22px;
	border:0;
	padding:0;
	background:#d5dfe8;
	font-size:12px;
	color:#333;
	cursor:pointer;
	
}
div#login p input:hover{
	background:#ccc;
}
div#login p a{
	color:#333;
	margin-top:10px;
	float:right;
}

