<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>资源</title>
	<link rel="stylesheet" href="__PUBLIC__/css/basic.css">
	<link rel="stylesheet" href="__PUBLIC__/css/resource.css">
	<link href="__PUBLIC__/images/logo.ico" rel="shortcut icon" />
</head>
<body>
	<include file='Public:header'/>
    <div id="main">
    	<div class='left'>
    		<div class='box resource'>
    			<h2>视频</h2>
    			<ul>
    				<li><em>24</em><a href='' >HTML</a></li>
    				<li><em>36</em><a href='' >DIVcss</a></li>
    				<li><em>15</em><a href='' >javascript</a></li>
    				<li><em>45</em><a href='' >jquery</a></li>
    				<li><em>24</em><a href='' >photoshop</a></li>
    				<li><em>465</em><a href='' >mysql</a></li>
    				<li><em>66</em><a href='' >php</a></li>
    				<li><em>55</em><a href='' >linux</a></li>
    				<li><em>55</em><a href='' >HTML</a></li>
    				<li><em>46</em><a href='' >DIVcss</a></li>
    				<li><em>54</em><a href='' >javascript</a></li>
    				<li><em>45</em><a href='' >jquery</a></li>
    				<li><em>555</em><a href='' >photoshop</a></li>
    				<li><em>54</em><a href='' >mysql</a></li>
    				<li><em>545</em><a href='' >php</a></li>
    				<li><em>54</em><a href='' >linux</a></li>
    			</ul>
    		</div>
    		<div class='box resource'>
    			<h2>软件</h2>
    			<ul>
    				<li><em>24</em><a href='' >HTML</a></li>
    				<li><em>36</em><a href='' >DIVcss</a></li>
    				<li><em>15</em><a href='' >javascript</a></li>
    				<li><em>45</em><a href='' >jquery</a></li>
    				<li><em>24</em><a href='' >photoshop</a></li>
    				<li><em>465</em><a href='' >mysql</a></li>
    				<li><em>66</em><a href='' >php</a></li>
    				<li><em>55</em><a href='' >linux</a></li>
    				<li><em>55</em><a href='' >HTML</a></li>
    				<li><em>46</em><a href='' >DIVcss</a></li>
    				<li><em>54</em><a href='' >javascript</a></li>
    				<li><em>45</em><a href='' >jquery</a></li>
    				<li><em>555</em><a href='' >photoshop</a></li>
    				<li><em>54</em><a href='' >mysql</a></li>
    				<li><em>545</em><a href='' >php</a></li>
    				<li><em>54</em><a href='' >linux</a></li>
    			</ul>
    		</div>
    		<div class='box resource'>
    			<h2>素材</h2>
    			<ul>
    				<li><em>24</em><a href='' >HTML</a></li>
    				<li><em>36</em><a href='' >DIVcss</a></li>
    				<li><em>15</em><a href='' >javascript</a></li>
    				<li><em>45</em><a href='' >jquery</a></li>
    				<li><em>24</em><a href='' >photoshop</a></li>
    				<li><em>465</em><a href='' >mysql</a></li>
    				<li><em>66</em><a href='' >php</a></li>
    				<li><em>55</em><a href='' >linux</a></li>
    				<li><em>55</em><a href='' >HTML</a></li>
    				<li><em>46</em><a href='' >DIVcss</a></li>
    				<li><em>54</em><a href='' >javascript</a></li>
    			</ul>
    		</div>
    		<div class='box resource'>
    			<h2>插件</h2>
    			<ul>
    				<li><em>24</em><a href='' >HTML</a></li>
    				<li><em>36</em><a href='' >DIVcss</a></li>
    				<li><em>15</em><a href='' >javascript</a></li>
    				<li><em>45</em><a href='' >jquery</a></li>
    				<li><em>24</em><a href='' >photoshop</a></li>
    				<li><em>465</em><a href='' >mysql</a></li>
    				<li><em>66</em><a href='' >php</a></li>
    				<li><em>55</em><a href='' >linux</a></li>
    				<li><em>55</em><a href='' >HTML</a></li>
    				<li><em>46</em><a href='' >DIVCSS</a></li>
    			</ul>
    		</div>
    	</div>
		<div class='right'>
			<div class='box info'>
				<h2>个人信息</h2>
				<img src="__PUBLIC__/images/header.jpg"/>
				<ul>
					<li>博主姓名：<strong>jack</strong></li>
					<li>开通时间：<strong>2012-12-22</strong></li>
					<li>博客类别：<strong>技术交流</strong></li>
					<li>博文总量：<strong>22</strong></li>
				</ul>
				<p>
					博客简介：本博为技术交流博客，所有博文若无特殊说明均为博主原创，转载请注明出处。
				</p>
			</div>
			<div class='box recommend'>
				<h2>博主推荐</h2>
				<ul>
					<li><em>1</em><a href="###">你辽宁都全国垫底了，还有扯淡？</a></li>
					<li><em>2</em><a href="###">“疏忽”、“疏忽”，聂树斌服”了</a></li>
					<li><em>3</em><a href="###">整治老人摔倒讹诈，法律利刃</a></li>
					<li><em>4</em><a href="###">成龙所说的“国”是哪一国？</a></li>
					<li><em>5</em><a href="###">真诚地向民主派进一言周案之后</a></li>
					<li><em>6</em><a href="###">你辽宁都全国垫底了，还有扯淡？</a></li>
					<li><em>7</em><a href="###">“疏忽”、“疏忽”，聂树斌服”了</a></li>
					<li><em>8</em><a href="###">整治老人摔倒讹诈，法律利刃</a></li>
				</ul>
			</div>
			<div class='box later_news'>
				<h2>相关动态</h2>
				<dl>
					<dt class='a1'>8.12</dt>
					<dd><i>&nbsp;</i><i>逆光</i><i>Win7</i></dd>
					<dd><a href="###">很久没有做过什么粗活</a></dd>
				</dl>
				<div class='clear'></div>
				<dl>
					<dt class='a2'>8.12</dt>
					<dd><i>&nbsp;</i><i>逆光</i><i>Win7</i></dd>
					<dd><a href="###">很久没有做过什么粗活</a></dd>
				</dl>
				<div class='clear'></div>
				<dl>
					<dt class='a3'>8.12</dt>
					<dd><i>&nbsp;</i><i>逆光</i><i>Win7</i></dd>
					<dd><a href="###">很久没有做过什么粗活</a></dd>
				</dl>
				<div class='clear'></div>
			</div>
			<div class='box plun'>
				<h2>博友评论</h2>
				<dl>
					<dt><img src='__PUBLIC__/images/tourist2.jpg'/></dt>
					<dd><i>&nbsp;</i><i>逆光</i><i>Win7</i></dd>
					<dd><a href='###'>文章</a><a href='###'>谢谢分享</a></dd>
				</dl>
				<div class='clear'></div>
				<dl>
					<dt><img src='__PUBLIC__/images/tourist1.jpg'/></dt>
					<dd><i>&nbsp;</i><i>逆光</i><i>Win7</i></dd>
					<dd><a href='###'>文章</a><a href='###'>谢谢分享</a></dd>
				</dl>
				<div class='clear'></div>
				<dl>
					<dt><img src='__PUBLIC__/images/tourist3.jpg'/></dt>
					<dd><i>&nbsp;</i><i>逆光</i><i>Win7</i></dd>
					<dd><a href='###'>文章</a><a href='###'>谢谢分享</a></dd>
				</dl>
				<div class='clear'></div>
			</div>
			<div class='box links'>
				<h2><em><a href='###'>申请链接</a></em>友情链接</h2>
				<ul>
					<li><a href='###'>百度</a></li>
					<li><a href='###'>谷歌</a></li>
					<li><a href='###'>好123</a></li>
					<li><a href='###'>雅虎中国</a></li>
					<li><a href='###'>51cto</a></li>
					<li><a href='###'>后盾网</a></li>
					<li><a href='###'>瓢城web俱乐部</a></li>
					<li><a href='###'>php100</a></li>
				</ul>
			</div>
		</div>
    </div>
    <div class='clear'></div>
	<include file='Public:footer'/>
	
</body>
</html>