<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>相册</title>
	<link rel="stylesheet" href="__PUBLIC__/css/basic.css">
	<link rel="stylesheet" href="__PUBLIC__/css/picbox.css">
	<link href="__PUBLIC__/images/logo.ico" rel="shortcut icon" />
</head>
<body>
	<include file='Public:header'/>
    <div id="main">
    	<h2>相册</h2>
    	<dl>
    		<dt><a href='' ><img src='__PUBLIC__/images/article/1.jpg'/></a></dt>
    		<dd><em><i>&nbsp;</i>10</em>夕阳无限好</dd>
    		<dd><em>最后更新于：2014-12-22</em>共<strong>17</strong>张</dd>
    	</dl>
    	<dl>
    		<dt><a href='' ><img src='__PUBLIC__/images/article/2.jpg'/></a></dt>
    		<dd><em><i>&nbsp;</i>10</em>夕阳无限好</dd>
    		<dd><em>最后更新于：2014-12-22</em>共<strong>17</strong>张</dd>
    	</dl>
    	<dl>
    		<dt><a href='' ><img src='__PUBLIC__/images/article/3.jpg'/></a></dt>
    		<dd><em><i>&nbsp;</i>10</em>夕阳无限好</dd>
    		<dd><em>最后更新于：2014-12-22</em>共<strong>17</strong>张</dd>
    	</dl>
    	<dl>
    		<dt><a href='' ><img src='__PUBLIC__/images/article/4.jpg'/></a></dt>
    		<dd><em><i>&nbsp;</i>10</em>夕阳无限好</dd>
    		<dd><em>最后更新于：2014-12-22</em>共<strong>17</strong>张</dd>
    	</dl>
    	<dl>
    		<dt><a href='' ><img src='__PUBLIC__/images/article/5.jpg'/></a></dt>
    		<dd><em><i>&nbsp;</i>10</em>夕阳无限好</dd>
    		<dd><em>最后更新于：2014-12-22</em>共<strong>17</strong>张</dd>
    	</dl>
    	<dl>
    		<dt><a href='' ><img src='__PUBLIC__/images/article/6.jpg'/></a></dt>
    		<dd><em><i>&nbsp;</i>10</em>夕阳无限好</dd>
    		<dd><em>最后更新于：2014-12-22</em>共<strong>17</strong>张</dd>
    	</dl>
    </div>
    <div class='clear'></div>
	<include file='Public:footer'/>
	
</body>
</html>