<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>后台首页</title>
  <link href="__ROOT__/public/images/logo.ico" rel="shortcut icon" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/admin.css" />
 </head>
 <body id="main">
 	<div class="map">
 	  资源管理&gt;&gt;<strong>修改资源</strong>
 	</div>
 	<form action="{:U('Resource/editRes',array('id'=>$data['id']))}" method="post" >
		<table class='update' border="0" cellspacing="0" >
		   <tr><td>资源名称：<input value="{$data.name}" name="name" class="text" type="text"/><span>*必填</span></td></tr>
		   <tr><td>资源描述：<input value="{$data.desc}" class="text" name="desc" type="text"/><span>*选填</span></td></tr>
		   <tr><td>资源地址：<input value="{$data.url}" name="url" class='text' type="text"/><span>*必填</span></td></tr>
		   <tr><td>下载次数：<input value="{$data.downloads}" name="downloads" class='text' type="text"/><span>*选填</span></td></tr>
		   <tr><td>资源类型：<input name='type' <if condition="$data.type eq 0">checked='checked'</if> value='0' type="radio">视频　<input name='type' <if condition="$data.type eq 1">checked='checked'</if> value='1' type="radio">软件　<input name='type' value='2' <if condition="$data.type eq 2">checked='checked'</if> type="radio">插件　<input name='type' <if condition="$data.type eq 3">checked='checked'</if> value='3' type="radio">素材　<span></span></td></tr>
		   <tr><td><input type="button" onclick="this.form.submit()" class="submit" value="修改资源"/></td></tr>
		</table>
  	</form>
 </body>
 </html>