<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>音乐电台</title>
	<link rel="stylesheet" href="__PUBLIC__/css/basic.css">
	<link rel="stylesheet" href="__PUBLIC__/css/music.css">
	<link href="__PUBLIC__/images/logo.ico" rel="shortcut icon" />
</head>
<body>
	<div class='music'>
		<div class='top'>音乐电台/请您欣赏</div>
		<div class='middle'><iframe  name="iframe_canvas" src=' http://douban.fm/partner/baidu/doubanradio' scrolling='no'  width='420' height='186' frameborder="0"></iframe>
		</div>
		<div class='bottom'>&copy; 2013 - 2015 逆光个人博客 & 保留所有权利</div>
	</div>
</body>
</html>