<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>日志</title>
	<link rel="stylesheet" href="__PUBLIC__/css/basic.css">
	<link rel="stylesheet" href="__PUBLIC__/css/talk.css">
	<link href="__PUBLIC__/images/logo.ico" rel="shortcut icon" />
</head>
<body>
	<include file='Public:header'/>
    <div id="main">
    	<div class='left'>
    		<div class="box news">
				<h2>全部动态</h2>
				<div class='img'>
					<img src='__PUBLIC__/images/article/1.jpg'/>
				</div>
				<div class='news_top'>
					<div class='left'>
						<img src='__PUBLIC__/images/header.jpg'/>
						<p><strong>逆光</strong><br/>10月21日 19:31 来自小米3 浏览（123）<p>
					</div>
					<div class='right'>
						<a href='###'>&nbsp;</a>
					</div>
				</div>
				<div class='news_content'>
					决定和去做是两回事，想到和做到是两回事，执行力真的很重要。
					想到和做到是两回事，执行力真的很重要
				</div>
				<div class='clear' ></div>
				<div class='forms'>
					<div class='zan'>
						<strong>&nbsp;</strong>
						<i>逆光</i>
						觉得很赞
						<a href="###">查看全文</a>
					</div>
				</div>
			</div>
			<div class="box news">
				<div class='img'>
					<img src='__PUBLIC__/images/article/1.jpg'/>
				</div>
				<div class='news_top'>
					<div class='left'>
						<img src='__PUBLIC__/images/header.jpg'/>
						<p><strong>逆光</strong><br/>10月21日 19:31 来自小米3 浏览（123）<p>
					</div>
					<div class='right'>
						<a href='###'>&nbsp;</a>
					</div>
				</div>
				<div class='news_content'>
					决定和去做是两回事，想到和做到是两回事，执行力真的很重要。
					想到和做到是两回事，执行力真的很重要
				</div>
				<div class='clear' ></div>
				<div class='forms'>
					<div class='zan'>
						<strong>&nbsp;</strong>
						<i>逆光</i>
						觉得很赞
						<a href="###">查看全文</a>
					</div>
				</div>
			</div>
			<div class="box news">
				<div class='img'>
					<img src='__PUBLIC__/images/article/1.jpg'/>
				</div>
				<div class='news_top'>
					<div class='left'>
						<img src='__PUBLIC__/images/header.jpg'/>
						<p><strong>逆光</strong><br/>10月21日 19:31 来自小米3 浏览（123）<p>
					</div>
					<div class='right'>
						<a href='###'>&nbsp;</a>
					</div>
				</div>
				<div class='news_content'>
					决定和去做是两回事，想到和做到是两回事，执行力真的很重要。
					想到和做到是两回事，执行力真的很重要
				</div>
				<div class='clear' ></div>
				<div class='forms'>
					<div class='zan'>
						<strong>&nbsp;</strong>
						<i>逆光</i>
						觉得很赞
						<a href="###">查看全文</a>
					</div>
				</div>
			</div>
			<div class="box news">
				<div class='img'>
					<img src='__PUBLIC__/images/article/1.jpg'/>
				</div>
				<div class='news_top'>
					<div class='left'>
						<img src='__PUBLIC__/images/header.jpg'/>
						<p><strong>逆光</strong><br/>10月21日 19:31 来自小米3 浏览（123）<p>
					</div>
					<div class='right'>
						<a href='###'>&nbsp;</a>
					</div>
				</div>
				<div class='news_content'>
					决定和去做是两回事，想到和做到是两回事，执行力真的很重要。
					想到和做到是两回事，执行力真的很重要
				</div>
				<div class='clear' ></div>
				<div class='forms'>
					<div class='zan'>
						<strong>&nbsp;</strong>
						<i>逆光</i>
						觉得很赞
						<a href="###">查看全文</a>
					</div>
				</div>
			</div>
			<div class="box news">
				<div class='img'>
					<img src='__PUBLIC__/images/article/1.jpg'/>
				</div>
				<div class='news_top'>
					<div class='left'>
						<img src='__PUBLIC__/images/header.jpg'/>
						<p><strong>逆光</strong><br/>10月21日 19:31 来自小米3 浏览（123）<p>
					</div>
					<div class='right'>
						<a href='###'>&nbsp;</a>
					</div>
				</div>
				<div class='news_content'>
					决定和去做是两回事，想到和做到是两回事，执行力真的很重要。
					想到和做到是两回事，执行力真的很重要
				</div>
				<div class='clear' ></div>
				<div class='forms'>
					<div class='zan'>
						<strong>&nbsp;</strong>
						<i>逆光</i>
						觉得很赞
						<a href="###">查看全文</a>
					</div>
				</div>
			</div>
			<div class="box news">
				<div class='img'>
					<img src='__PUBLIC__/images/article/1.jpg'/>
				</div>
				<div class='news_top'>
					<div class='left'>
						<img src='__PUBLIC__/images/header.jpg'/>
						<p><strong>逆光</strong><br/>10月21日 19:31 来自小米3 浏览（123）<p>
					</div>
					<div class='right'>
						<a href='###'>&nbsp;</a>
					</div>
				</div>
				<div class='news_content'>
					决定和去做是两回事，想到和做到是两回事，执行力真的很重要。
					想到和做到是两回事，执行力真的很重要
				</div>
				<div class='clear' ></div>
				<div class='forms'>
					<div class='zan'>
						<strong>&nbsp;</strong>
						<i>逆光</i>
						觉得很赞
						<a href="###">查看全文</a>
					</div>
				</div>
			</div>
			<div class='box page' >
				<div class='left'>
					<a href="" >上一页</a><a href="">2</a><a href="" >3</a><a href="">下一页</a>
				</div>
				<div class='right'>
					第2页/总22页
				</div>
			</div>
    	</div>
		<div class='right'>
			<div class='box info'>
				<h2>个人信息</h2>
				<img src="__PUBLIC__/images/header.jpg"/>
				<ul>
					<li>博主姓名：<strong>jack</strong></li>
					<li>开通时间：<strong>2012-12-22</strong></li>
					<li>博客类别：<strong>技术交流</strong></li>
					<li>博文总量：<strong>22</strong></li>
				</ul>
				<p>
					博客简介：本博为技术交流博客，所有博文若无特殊说明均为博主原创，转载请注明出处。
				</p>
			</div>
			<div class='box recommend'>
				<h2>博主推荐</h2>
				<ul>
					<li><em>1</em><a href="###">你辽宁都全国垫底了，还有扯淡？</a></li>
					<li><em>2</em><a href="###">“疏忽”、“疏忽”，聂树斌服”了</a></li>
					<li><em>3</em><a href="###">整治老人摔倒讹诈，法律利刃</a></li>
					<li><em>4</em><a href="###">成龙所说的“国”是哪一国？</a></li>
					<li><em>5</em><a href="###">真诚地向民主派进一言周案之后</a></li>
					<li><em>6</em><a href="###">你辽宁都全国垫底了，还有扯淡？</a></li>
					<li><em>7</em><a href="###">“疏忽”、“疏忽”，聂树斌服”了</a></li>
					<li><em>8</em><a href="###">整治老人摔倒讹诈，法律利刃</a></li>
				</ul>
			</div>
			<div class='box later_news'>
				<h2>相关动态</h2>
				<dl>
					<dt class='a1'>8.12</dt>
					<dd><i>&nbsp;</i><i>逆光</i><i>Win7</i></dd>
					<dd><a href="###">很久没有做过什么粗活</a></dd>
				</dl>
				<div class='clear'></div>
				<dl>
					<dt class='a2'>8.12</dt>
					<dd><i>&nbsp;</i><i>逆光</i><i>Win7</i></dd>
					<dd><a href="###">很久没有做过什么粗活</a></dd>
				</dl>
				<div class='clear'></div>
				<dl>
					<dt class='a3'>8.12</dt>
					<dd><i>&nbsp;</i><i>逆光</i><i>Win7</i></dd>
					<dd><a href="###">很久没有做过什么粗活</a></dd>
				</dl>
				<div class='clear'></div>
			</div>
			<div class='box plun'>
				<h2>博友评论</h2>
				<dl>
					<dt><img src='__PUBLIC__/images/tourist2.jpg'/></dt>
					<dd><i>&nbsp;</i><i>逆光</i><i>Win7</i></dd>
					<dd><a href='###'>文章</a><a href='###'>谢谢分享</a></dd>
				</dl>
				<div class='clear'></div>
				<dl>
					<dt><img src='__PUBLIC__/images/tourist1.jpg'/></dt>
					<dd><i>&nbsp;</i><i>逆光</i><i>Win7</i></dd>
					<dd><a href='###'>文章</a><a href='###'>谢谢分享</a></dd>
				</dl>
				<div class='clear'></div>
				<dl>
					<dt><img src='__PUBLIC__/images/tourist3.jpg'/></dt>
					<dd><i>&nbsp;</i><i>逆光</i><i>Win7</i></dd>
					<dd><a href='###'>文章</a><a href='###'>谢谢分享</a></dd>
				</dl>
				<div class='clear'></div>
			</div>
			<div class='box links'>
				<h2><em><a href='###'>申请链接</a></em>友情链接</h2>
				<ul>
					<li><a href='###'>百度</a></li>
					<li><a href='###'>谷歌</a></li>
					<li><a href='###'>好123</a></li>
					<li><a href='###'>雅虎中国</a></li>
					<li><a href='###'>51cto</a></li>
					<li><a href='###'>后盾网</a></li>
					<li><a href='###'>瓢城web俱乐部</a></li>
					<li><a href='###'>php100</a></li>
				</ul>
			</div>
		</div>
    </div>
    <div class='clear'></div>
	<include file='Public:footer'/>
	
</body>
</html>