<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>后台首页</title>
  <link href="__ROOT__/public/images/logo.ico" rel="shortcut icon" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/admin.css" />
 </head>
 <body id="main">
 	<div class="map">
 	  友链管理&gt;&gt;<strong>修改友链</strong>
 	</div>
 	<form action="{:U('link/editlink')}" method="post" >
 		<input type='hidden' name='id' value='{$id}'/>
		<table class='update' border="0" cellspacing="0" >
		   <tr><td>网站名称：<input name="name" value="{$data.name}" class="text" type="text"/><span>*必填</span></td></tr>
		   <tr><td>网站地址：<input class="text"name="url" value="{$data.url}" type="text"/><span>*必填</span></td></tr>
		   <tr><td>站长邮箱：<input name="email" class="text" value='{$data.email}' type="text"/><span>*选填</span></td></tr>
		   <tr><td>审核状态：<select name='status'><option <if condition='$data.status eq 0'>selected='selected'</if> value='0'>未审核</option><option <if condition='$data.status eq 1'>selected='selected'</if> value='1'>已审核</option></select><span>*必填</span></td></tr>
		   <tr><td><input type="button" onclick="this.form.submit()" class="submit" value="修改友链"/></td></tr>
		</table>
  	</form>
 </body>
 </html>