<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>后台首页</title>
  <link href="__ROOT__/public/images/logo.ico" rel="shortcut icon" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/admin.css" />
 </head>
 <body id="main">
 	<div class="map">
 	  友链管理&gt;&gt;<strong>查看友链</strong>
 	</div>
 	<table  border="0" cellspacing="0" >
 		<tr><th>编号</th><th>友链名称</th><th>友链地址</th><th>站长邮箱</th><th>审核状态</th><th>操作</th></tr>
		<assign name='i' value='1'>
		<volist name='links' id='vo'>
		<tr>
 			<td>{$i}</td>
 			<td>{$vo.name}</td>
 			<td>{$vo.url}</td>
 			<td>{$vo.email|default='未填写'}</td>
 			<td><if condition="$vo.status eq 1" >已审核<else/><a href="{:U('Link/updatestatus',array('id'=>$vo['id']))}">待审核</a></if></td>
 			<td><a href="{:U('Link/editlink',array('id'=>$vo['id']))}">修改</a>|<a onclick="javascript:return confirm('确定删除？')" href="{:U('Link/deletelink',array('id'=>$vo['id']))}">删除</a></td>
 		</tr>
 		</volist>
 	</table>
 	<div class="page">{$page}</div>
 </body>
 </html>