<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>后台首页</title>
  <link href="__ROOT__/public/images/logo.ico" rel="shortcut icon" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/admin.css" />
 </head>
 <body id="main">
 	<div class="map">
 	  会员管理&gt;&gt;<strong>新增会员</strong>
 	</div>
 	<form action="{:U('User/adduser')}" method="post" >
		<table class='update' border="0" cellspacing="0" >
		   <tr><td>会员昵称：<input name="nackname" class="text" type="text"/><span>*必填</span></td></tr>
		   <tr><td>会员密码：<input class="text"name="passwd" type="password"/><span>*必填</span></td></tr>
		   <tr><td>会员邮箱：<input name="email" class="text"type="text"/><span>*选填</span></td></tr>
		   <tr><td>审核状态：<select name='status'><option selected='selected' value='0'>未审核</option><option value='1'>已审核</option></select><span>*必填</span></td></tr>
		   <tr><td><input type="button" onclick="this.form.submit()" class="submit" value="新增会员"/></td></tr>
		</table>
  	</form>
 </body>
 </html>